body {
  font-family: 'Montserrat-thin', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 5%;
}

.dog {
  width: 15%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.img-dog {
  width: 130%;
  right: 3%;
}

@media only screen and (max-width: 1150px) {
  .dog {
    position: static;
    width: 15%;
  }

  .img-dog {
    width: 300%;
    right: 3%;
    margin-left: 80px;
  }
}

@media only screen and (max-width: 766px) {
  .dog {
    position: static;
    transform: rotate(0);
    width: 15%;
  }

  .img-dog {
    width: 600%;
    right: 3%;
    margin-left: 80px;
  }

  #title {
    text-align: center;
  }
}

a {
  font-family: 'Ubuntu Condensed'sans-serif;
  font-size: 1rem;
  line-height: 1;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

@media only screen and (max-width: 766px){
  h2 {
    font-size: 2rem;
    line-height: 1.5;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* navegation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.navbar-brand {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
}

/* download buttoms */
.download-btn {
  margin-top: 5%;
  margin-right: 3%;
  margin-bottom: 5%;
  margin-left: 0%;
}

/* features */
#features {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.box-icon {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20rem;
}

.features-icons {
  font-size: 3.5rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover {
  font-size: 3.5rem;
  color: #ff4c68;
  margin-bottom: 1rem;
}

.loges {
  text-align: center;
  margin-top: 5%;
}

/* <!-- Testimonials --> */
#testimonials {
  background-color: #ef8172;
  padding: 7% 12% 3%;
  text-align: center;
  color: #fff;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 15px;
}

/* Testimonial carousel */
.carousel-item {
  padding: 7% 15%;
}

/* <!-- Pricing section --> */
#pricing {
  padding: 100px;
  text-align: center;
}

.price-column {
  padding: 3% 2%;
}

.btn-one {
  margin-top: 39px;
}

.btn-two {
  margin-top: 39px;
}

/* call attention section */
#cta {
  background-color: #ff4c68;
  color: white;
  font-family: "Montserrat-light", sans-serif;
  text-align: center;
  padding-bottom:7%;
  padding-top: 7%;
}

.call-class {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 2.7rem;
}

@media only screen and (max-width: 766px) {
  .call-class{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 2rem;
  }
}

.download-btn-end {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 0%;
}

/* <!-- Footer section --> */
#footer {
  text-align: center;
  margin-top: 4.3rem;
}

.tw {
  text-align: center;
  margin: 1%;
  color: #261C2C;
}

.fac {
  text-align: center;
  margin: 1%;
  color: #261C2C;
}

.inst {
  text-align: center;
  margin: 1%;
  color: #261C2C;
}

.mail {
  text-align: center;
  margin: 1%;
  color: #261C2C;
}

.copy-right {
  font-size: 0.7rem;
}
